.Selector {
  position: relative !important;

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  outline: none;

  margin: 0;
  padding: 0;

  height: 45px;
  max-width: 350px;
  min-width: 250px;
  width: 100%;

  .select {
    appearance: none;
    background: transparent;
    border: none;
    color: #666666;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    outline: none;
    height: 100%;
    width: 100%;
    text-indent: 1em;
  }

  .arrow {
    pointer-events: none !important;
    right: 1em;
    position: absolute !important;

  }
}