.ProductController {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  background: #FBFBFB;
  border: 1px solid #F0EDED;
  border-left-width: 0;
  border-right-width: 0;
  min-height: 85px;

  .options {
    display: flex;
    flex: 0 4 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex: 0 1 150px;
    flex-direction: row-reverse;
    align-items: center;
  }
}