.SortFilterView {
  .header {
    border-bottom: 1px solid #F0EDED;
    margin-bottom: 25px;
    position: relative;
  }

  .close {
    position: absolute !important;
    right: 0;
    top: 0;
  }

  .container {
    max-width: 300px;
  }

  .fieldset {
    border: 0;
    border-bottom: 1px solid #F0EDED;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 0 25px 0;
  }
}