.Header {
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  padding: 0;

  .title {
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
}